In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [8]:
df.loc[["cobra"]]

       max_speed  shield
cobra          1       2

In [11]:
df.loc[["cobra","viper"],["shield","max_speed"]]

       shield  max_speed
cobra       2          1
viper       5          4

In [14]:
df = df.map(df["shield"],"a")

AttributeError: 'DataFrame' object has no attribute 'map'